.Modal.open {
    position: absolute;
    background: azure;
    width: 100px;
    height: 50px;
    top: -130px;
    left: 150px
}

.Modal.close {
    display: none;
}

.Modal__date {
    border: 0;
    background: white;
}