@import url(../Footer/Footer__text/Footer__text.css);

.footer {
    margin-top: 199px;
  }
  
  @media (max-width: 1280px) {
    .footer {
      margin-top: 48px;
    }
  }
  
  @media (max-width: 425px) {
    .footer {
      margin-top: 78px;
    }
  }
