@import url(./Fonts/fonts.css);
@import url(./styles/Blocks/Blocks.css);
@import url(./styles/Headline/Headline.css);
@import url(./styles/Footer/Footer.css);

.App {
  background: url(./images/Bg.svg);
  background-repeat: no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #373AF5;
  z-index: -2;
}

.wrapper {
  width: auto;
  padding: 65px 45px 16px 41px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 32px 10px 16px 10px;
  }
}



